<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="RunAll_APITest">
  <test name="RunAll_APITest Test" preserve-order="true">
    <classes>
      <class name="com.qa.test.PlaceFetchOrderDetail" />
      <class name="com.qa.test.FetchOrderTest" />
      <class name="com.qa.test.Takeorder" />
      <class name="com.qa.test.CompleteOrder" />
      <class name="com.qa.test.CancelOrder" />
      
    </classes>
  </test>
</suite>